
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>ToDoList</h2>

<p>#1 Profilim</p>
<p><del>#2 Tüm başlıklarda sayfalama yapılacak</del></p>
<p><del>#3 Mesajlarda Session</del></p>
<p><del>#4 Oturum yönetiminin mimariye taşınmamsı</del></p>
<p>#5 Token kullanılması</p>

